    <!-- MAIN WRAPPER
    ================================================== -->
    <div class="main-wrapper">

        <!-- 404 PAGE
        ================================================== -->
        <section class="full-screen bg-img cover-background text-center p-0 background-position-x-60" data-overlay-dark="0" data-background="img/bg/bg-1.jpg">
            <div class="container d-flex flex-column">

                <div class="row align-items-center h-100vh">
                    <div class="col-md-6">

                        <div class="page-container">
                            <p class="alt-font font-weight-700 title text-extra-dark-gray">404</p>
                            <h2 class="display-23 display-lg-16 mb-1-9 text-dark-gray">Page not found</h2>

                            <a href="/adminlogin" class="butn-style2 m-1"><span><i class="fas fa-arrow-left me-2"></i>Back to Home</span></a>
                            <a href="contact-us.html" class="butn-style2 m-1"><span>Contact Us<i class="fas fa-arrow-right ms-2"></i></span></a>
                        </div>

                        <div class="mt-1-9 mt-lg-2-3">
                        </div>
                    </div>
                </div>

            </div>
        </section>
        
    </div>

