  <meta charset="utf-8" />
    <meta name="author" content="Chitrakoot Web" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="keywords" content="admin,dashboard" />
    <meta name="description" content="Smartshop - Responsive eCommerce Admin Dashboard" />

    <!-- title  -->
    <title>ADMIN</title>

    <!-- favicon -->
    <link rel="shortcut icon" href="/img/logos/favicon.png" />
    <link rel="apple-touch-icon" href="/img/logos/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="/img/logos/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="/img/logos/apple-touch-icon-114x114.png" />

    <!-- common plugins -->
    <link rel="stylesheet" href="/plugins/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/plugins/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/plugins/icomoon/style.css" />
    <link rel="stylesheet" href="/plugins/uniform/css/default.css" />
    <link rel="stylesheet" href="/plugins/switchery/switchery.min.css" />

    <!-- theme core css -->
    <link rel="stylesheet" href="/css/styles.css"/>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    