  
             <!-- PAGE TITLE
    ================================================== -->
        {{!-- <section class="page-title-section bg-img cover-background" data-background="img/bg/page-title.jpg">
            <div class="container">

                <div class="title-info">
                    <h1>Login</h1></div>
                <div class="breadcrumbs-info">
                    <ul class="ps-0">
                        <li><a href="home-shop-1.html">Set new password</a></li>
                        <li><a href="#">Login </a></li>
                    </ul>
                </div>

            </div>
        </section>    --}}
        <!-- LOGIN REGISTER
        ================================================== -->
        <section class="md">
            <div class="container">
                <div class="row justify-content-center">

                    <div class="col-lg-6 mb-1-9 mb-lg-0">

                        <div class="common-block">

                            <div class="inner-title">
                                <h4 class="mb-0">Set new password</h4>
                                <p class="mb-0"style="color: brown;" >{{message}}</p>
                            </div>

                            <form method="post" action="/conformPass">

                                <div class="row">

                                    <div class="col-sm-12">
                                         <div class="form-group">
                                            <label>Please Enter New password</label>
                                            <input type="password" class="form-control" name="newPass" placeholder="Your user name here">
                                        </div>
                                        
                                      <div class="form-group">
                                            <label>Conform  password</label>
                                            <input type="password" class="form-control" name="conformPass" placeholder="Your user name here">
                                        </div>

                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-6">
                                            <label class="form-check-label" for="login-remember">Don't have an account ?<a href="/registration">Register</a></label>                                
                                    </div>
                                </div>

                                <button type="submit" class="butn-style2 mt-4">submit</button>

                            </form>

                        </div>

                    </div>
                    </div>
                    </div>

                  
                </section>
       
      

    